.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    margin: 20px 50px;
    align-items: center;
    font-weight: 500;
    font-size: 1.1em;
}

#links {
    text-align: center;
}

#links>p {
    margin-left: 20px;
    display: inline;
}

img {
    height: 50px;
    width: 50px;
}

#log {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 1rem;
}

#login {
    background-color: white;
    border: none;
    color: black;
    font-weight: 500;
}

#register {
    background-color: #4540DB;
    font-weight: 500;
}

.text-top,
.text-middle,
.text-bottom {
    font-family: 'Roboto';
    margin: 0px auto;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
}

.text-top {
    margin-top: 80px;
}

.text-bottom {
    margin-top: 20px;
    font-size: 1.7em;
    font-weight: 400;
}

#right {
    color: #4540DB;
}

.content {
    background-color: #F6F7FC;
}

.fields {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1rem;
    margin-top: 70px;
    padding-bottom: 70px;
}

.fields>div {
    background-color: white;
    margin: 0px auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 250px;
    text-align: right;
}

#jobs,
#available {
    margin-top: 5%;
    text-align: left;
    margin-left: auto;
    width: 50%;
    margin-right: 10%;
    font-weight: 500;
}

#jobs {
    margin-top: -10%;
}

#available {
    font-weight: 400;
    font-size: small;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    margin: 20px 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #CDCDCD;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

#fieldlogo {
    position: relative;
    right: 175px;
    top: 35px;
}

.login {
    background-color: white;
    width: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto';
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.login>p {
    color: #7e7a7a;
}

#login-form, #register-form{
    margin-top: 30px;
}

#heading {
    color: #4540DB;
    font-weight: 700;
    margin-top: 10px;
    font-size: xx-large;
}

form>p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 75px;
    font-weight: 700;
}

input {
    text-align: left;
    height: 40px;
    width: 65%;
    padding-left: 15px;
    font-size: medium;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 1px solid #d8cccc;
}

#logiin{    
    margin-top: 30px;
}

#search{
    text-align: left;
    width: auto;
    padding-left: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 1px solid #d8cccc;
    margin-bottom: 30px;
}

.bar{
    background-color: #4540DB;
}

#websitelogo{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
}

.listing{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.listing > div{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#jobslogo{
    width: 20rem;
    height: 10rem;
}